# Node
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Laravel / PHP
/vendor/
/.env
.env*
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache
/storage/framework/sessions
/storage/logs
/.phpunit.cache
/.phpactor.json
/.phpunit.result.cache

# IDEs
/.idea
/.vscode

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/

# Auditor
betterweb/auditor/node_modules/
